.navbar {
  text-transform: uppercase;

  .navbar-brand {
    position: absolute;
    left: 50%;

    img {
      margin-left: -36px; // Half of width
      height: 20px;
    }
  }

  .buy-now {
    padding: 5px 11px 3px 10px;
    color: $white;
    background-color: $black;
    border: 1px solid $gray-light;

    &:hover {
      color: $black;
      background-color: $gray-light;
      border-color: $black;
    }

    i {
      margin-right: 5px;
    }
  }

  a:focus {
    outline: none;
  }
}