<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ "Nova" }}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
<body>
{% block header %}
    {% include "::inc/navbar.html.twig" %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
    {% if not app.user %}
        {% include "::inc/modals.html.twig" %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>
