{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block content %}
    <div class="slider">
        <!-- UNDER CONSTRUCTION -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for message in app.flashes('error') %}
                    <div class="alert-danger"><strong>Error!</strong> {{ message }}</div>
                {% endfor %}

                {% if app.user %}
                    <p>Hello, <i>{{ app.user.firstname }}</i>!</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
